<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BotStatist</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/papaparse.min.js"></script>
    <script src="/static/js/service.js"></script>

  </head>
  <body class="my-font">
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/info">Info</a>
      <a href="/development" class="topnav-home">Development</a>
    </div>

    <div class="navbar-default">
      <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'datasets')">Datasets</button>
        <button class="tablinks" onclick="openTab(event, 'statistics')">Statistics</button>
        <button class="tablinks" onclick="openTab(event, 'feedback')">Feedback</button>
      </div>

      <div id="datasets" class="tabcontent">
        <div class="text-center">
          <div id="datasetsList" class="tab-elem" style="min-width: 230px; height: 500px; width: 15%;">
            <div class="header-label" style="padding: 10px;">Choose dataset</div>
            <input type="text" placeholder="Search..." id="myInput1" class="form-control my-input-small" style="width: 100%;" onkeyup="filterFunction('myInput1', 'datasetsList')">
            <a id="new1" class="lang-label" style="color: #449d44; font-weight: bold;">New</a>
          </div>
          <div class="tab-elem" style="min-width: 350px; height: 500px; width: 20%;">
            <div class="header-label" style="padding: 10px;">Name</div>
            <input type="text" id="datasetName" class="form-control my-input-small">
            <div class="header-label" style="padding: 10px;">Description</div>
            <textarea id="datasetDescription" class="my-ta-small" style="height: 150px; padding: 10px;"></textarea>
            <div class="header-label" style="padding: 10px;">File</div>
            <label class="btn btn-success my-btn" style="width: 30%; float: left;">
                <input type="file" id="file1" accept="text/csv" class="file-input" style="display: none;">
                <span id="import1">Add file</span>
            </label>
            <input type="text" id="filename1" class="filename my-input-small" style="width: 70%; float: left;" disabled>
            <div class="header-label" style="padding: 10px; margin-top: 50px;">Actions</div>
            <div class="btn-group" style="padding: 5px;">
              <button type="button" id="saveDataset" class="btn btn-success my-btn">Save</button>
              <button type="button" id="deleteDataset" class="btn btn-primary my-btn">Delete</button>
            </div>
          </div>
          <div class="tab-elem" style="min-width: 900px; height: 500px; width: 55%;">
            <div class="header-label" style="padding: 10px;">Features</div>
            <table class="table table-striped table-bordered" style="width: 100%">
              <thead>
                <tr>
                  <th style="width: 20%; text-align: center;">Name</th>
                  <th style="width: 25%; text-align: center;">Synonyms</th>
                  <th style="width: 15%; text-align: center;">Type</th>
                  <th style="width: 25%; text-align: center;">Values</th>
                  <th style="width: 15%; text-align: center;">Action</th>
                </tr>
              </thead>
              <tbody id="tbodyFeatures">
                <tr id="newFeatureRow">
                  <td><input type="text" id="newFeatureName" class="form-control my-input-small"></td>
                  <td><textarea id="newFeatureSynonyms" class="form-control my-ta-small"></textarea></td>
                  <td>
                    <button type="button" id="typeNew" class="btn btn-success my-btn">Type</button>
                  </td>
                  <td><textarea id="values" class="form-control my-ta-small"></textarea></td>
                  <td>
                    <button type="button" id="addFeature" class="btn btn-success my-btn">Add new</button>
                    <button type="button" id="importFeatures" class="btn btn-info my-btn">Import</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div id="statistics" class="tabcontent" style="display: none;">
        <div class="text-center">
          <div id="statisticsList" class="tab-elem" style="min-width: 230px; height: 500px; width: 15%;">
            <div class="header-label" style="padding: 10px;">Choose statistic</div>
            <input type="text" placeholder="Search..." id="myInput2" class="form-control my-input-small" style="width: 100%;" onkeyup="filterFunction('myInput2', 'statisticsList')">
            <a id="new2" class="lang-label" style="color: #449d44; font-weight: bold;">New</a>
          </div>
          <div class="tab-elem" style="min-width: 350px; height: 500px; width: 20%;">
            <div class="header-label" style="padding: 10px;">Name</div>
            <input type="text" id="statisticName" class="form-control my-input-small">
            <div class="header-label" style="padding: 10px;">Description</div>
            <textarea id="statisticDescription" class="my-ta-small" style="height: 150px; padding: 10px;"></textarea>
            <div class="header-label" style="padding: 10px;">File</div>
            <label class="btn btn-success my-btn" style="width: 30%; float: left;">
                <input type="file" id="file2" accept=".py" class="file-input" style="display: none;">
                <span id="import2">Add file</span>
            </label>
            <input type="text" id="filename2" class="filename my-input-small" style="width: 70%; float: left; height: 35px;" disabled>
            <div class="header-label" style="padding: 10px; margin-top: 50px;">Actions</div>
            <div class="btn-group" style="padding: 5px;">
              <button type="button" id="saveStatistic" class="btn btn-success my-btn">Save</button>
              <button type="button" id="deleteStatistic" class="btn btn-primary my-btn">Delete</button>
            </div>
          </div>
          <div class="tab-elem" style="min-width: 900px; height: 500px; width: 55%;">
            <div class="header-label" style="padding: 10px;">Templates</div>
            <table class="table table-striped table-bordered" style="width: 100%">
              <thead>
                <tr>
                  <th style="width: 25%; text-align: center;">Question</th>
                  <th style="width: 35%; text-align: center;">Delimiters</th>
                  <th style="width: 25%; text-align: center;">Answer</th>
                  <th style="width: 15%; text-align: center;">Action</th>
                </tr>
              </thead>
              <tbody id="tbodyTemplates">
                <tr id="newTemplateRow">
                  <td><input type="text" id="newTemplateQuestion" class="form-control my-input-small"></td>
                  <td><textarea id="newTemplateDelimiters" class="form-control my-ta-small"></textarea></td>
                  <td><input type="text" id="newTemplateAnswer" class="form-control my-input-small"></td>
                  <td>
                    <button type="button" id="addTemplate" class="btn btn-success my-btn">Add new</button>
                    <button type="button" id="importTemplates" class="btn btn-info my-btn">Import</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div id="feedback" class="tabcontent" style="display: none; text-align: center;">
        <button id="messages" class="accordion">Messages</button>
        <div id="panel1" class="panel" style="display: none;">
          <div style=" overflow: auto; height: 500px;">
            <table class="table table-striped table-bordered" style="width: 100%; border: 10px solid #ddd;">
              <thead>
                <tr>
                  <th style="width: 0%; display: none;"></th>
                  <th style="min-width: 170px; text-align: center;" onclick="sortRows(1, 'tbodyMessages')">Date</th>
                  <th style="min-width: 170px; text-align: center;" onclick="sortRows(2, 'tbodyMessages')">Question</th>
                  <th style="min-width: 170px; text-align: center;" onclick="sortRows(3, 'tbodyMessages')">Answer</th>
                  <th style="min-width: 500px;text-align: center;" onclick="sortRows(4, 'tbodyMessages')">Message</th>
                </tr>
              </thead>
              <tbody id="tbodyMessages"></tbody>
            </table>
          </div>
          <input type="text" placeholder="Search..." id="fMessages" class="form-control my-input-small" style="width:
            400px; margin: 15px; float: left;" onkeyup="filterRows('fMessages', 'tbodyMessages')">
        </div>

        <button id="logs" class="accordion">Logs</button>
        <div id="panel2" class="panel" style="display: none;">
          <div style=" overflow: auto; height: 500px;">
            <table class="table table-striped table-bordered" style="width: 100%; border: 10px solid #ddd;">
              <thead>
                <tr>
                  <th style="width: 0%; display: none;"></th>
                  <th style="min-width: 170px; text-align: center;" onclick="sortRows(1, 'tbodyLogs')">Date</th>
                  <th style="min-width: 250px; text-align: center;" onclick="sortRows(2, 'tbodyLogs')">Question</th>
                  <th style="min-width: 150px; text-align: center;" onclick="sortRows(3, 'tbodyLogs')">Dataset</th>
                  <th style="min-width: 150px; text-align: center;" onclick="sortRows(4, 'tbodyLogs')">Answer type</th>
                  <th style="min-width: 250px; text-align: center;" onclick="sortRows(5, 'tbodyLogs')">Answer</th>
                  <th style="min-width: 400px; text-align: center;" onclick="sortRows(6, 'tbodyLogs')">Info</th>
                </tr>
              </thead>
              <tbody id="tbodyLogs"></tbody>
            </table>
          </div>
          <input type="text" placeholder="Search..." id="fLogs" class="form-control my-input-small" style="width:
            400px; margin: 15px; float: left;" onkeyup="filterRows('fLogs', 'tbodyLogs')">
        </div>
      </div>

    </div>


    <div id="chooseType" class="modal fade my-font" role="dialog">
      <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
          <div class="modal-content">
            <div id="address" style="display: none;"></div>
            <div class="header-label" style="padding: 15px;">Choose feature type</div>
            <div id="typesList" class="tab-elem modal-body" style="width: 60%; height: 150px;"></div>
            <div class="modal-footer">
              <button id="close1" type="button" class="btn btn-info my-btn" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="importTemplatesModal" class="modal fade my-font" role="dialog">
      <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
          <div class="modal-content">
            <div style="padding: 50px;">
              <div class="header-label" style="padding: 10px;">Choose file with features</div>
              <label class="btn btn-success my-btn" style="width: 20%; float: left;">
                  <input type="file" id="file3" accept="text/csv" class="file-input" style="display: none;">
                  <span id="import3">Add file</span>
              </label>
              <input type="text" id="filename3" class="filename my-input-small" style="width: 80%; float: left;" disabled>
            </div>
            <div class="modal-footer">
              <div class="btn-group" style="padding: 5px;">
                <button id="importTemplatesFromFile" type="button" class="btn btn-success my-btn" data-dismiss="modal">Import</button>
                <button id="close3" type="button" class="btn btn-info my-btn" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="modal" class="modal fade my-font" role="dialog">
      <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
          <div class="modal-content">
            <div id="message" class="modal-body message-label"></div>
            <div class="modal-footer">
              <button id="close5" type="button" class="btn btn-info" data-dismiss="modal">OK</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      var xhr = new XMLHttpRequest()

      var dataset_names = JSON.parse('{{dataset_names | safe}}')
      var statistic_names = JSON.parse('{{statistic_names | safe}}')
      var types = JSON.parse('{{types | safe}}')
      generateList(dataset_names, "datasetsList")
      generateList(statistic_names, "statisticsList")
      generateList(types, "typesList")
      $('#typeNew').text(types[0])
      clearDatasetInfo()
      clearStatisticInfo()
      clearTableBody("tbodyMessages")
      clearTableBody("tbodyLogs")


      var acc = document.getElementsByClassName("accordion");
      for (var i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
          this.classList.toggle("active")
          var panel = this.nextElementSibling
          if (panel.style.display === "block") {
            panel.style.display = "none"
          } else {
            panel.style.display = "block"
          }
          for (var j = 0; j < acc.length; j++) {
            var p = acc[j].nextElementSibling
            console.log(p.id + ", " + panel.id)
            if (p.id !== panel.id && p.style.display !== "none") {
              p.style.display = "none"
              acc[j].classList.toggle("active")
            }
          }
        })
      }

      xhr.onreadystatechange = function() {
        if (xhr.readyState === 4 && xhr.status === 200) {
          var json = JSON.parse(xhr.responseText)
          console.log(json)
          if (json["action"] === "setDatasetInfo") {
            setDatasetInfo(json["data"])
          } else if (json["action"] === "setStatisticInfo") {
            setStatisticInfo(json["data"])
          } else if (json["action"] === "reloadDatasets") {
            generateList(JSON.parse(json["datasetNames"]), "datasetsList")
            clearDatasetInfo()
          } else if (json["action"] === "reloadStatistics") {
            generateList(JSON.parse(json["statisticNames"]), "statisticsList")
            clearStatisticInfo()
          } else if (json["action"] === "setMessages") {
            addMessages(JSON.parse(json["messages"]))
          } else if (json["action"] === "setLogs") {
            addLogs(JSON.parse(json["logs"]))
          }
        }
      }

      $('#saveDataset').on('click', function() {
        // Async file sending
        if (document.getElementById('file1').value !== "") {
          var formData = new FormData()
          formData.append('file', document.getElementById('file1').files[0])
          formData.append("action", "saveDatasetFile")
          $.ajax({
              url: '/development',
              data: formData,
              type: 'POST',
              contentType: false,
              cache: false,
              processData: false,
              async: true
          })
        }

        if ($('#datasetName').val() === "") {
          $('#message').text("Enter dataset name")
          $('#modal').modal('show')
        } else if ($('#filename1').val() === "") {
          $('#message').text("Choose file")
          $('#modal').modal('show')
        } else if (document.getElementById("tbodyFeatures").childNodes.length === 1) {
          $('#message').text("Please, add features")
          $('#modal').modal('show')
        } else {
          f = saveFeatures()
          send({"action": "saveDataset", "name": $('#datasetName').val(),
            "description": $('#datasetDescription').val(), "features": f, "file": $('#filename1').val()})
        }
      })

      $('#saveStatistic').on('click', function() {
        // Async file sending
        if (document.getElementById('file2').value !== "") {
          console.log("Send file")
          var formData = new FormData()
          formData.append('file', document.getElementById('file2').files[0])
          formData.append("action", "saveStatisticFile")
          $.ajax({
              url: '/development',
              data: formData,
              type: 'POST',
              contentType: false,
              cache: false,
              processData: false,
              async: true
          })
        }

        if ($('#statisticName').val() === "") {
          $('#message').text("Enter statistic name")
          $('#modal').modal('show')
        } else if ($('#filename2').val() === "") {
          $('#message').text("Choose file")
          $('#modal').modal('show')
        } else if (document.getElementById("tbodyTemplates").childNodes.length === 1) {
          $('#message').text("Please, add templates")
          $('#modal').modal('show')
        } else {
          f = saveTemplates()
          send({"action": "saveStatistic", "name": $('#statisticName').val(),
            "description": $('#statisticDescription').val(), "templates": f, "file": $('#filename2').val()})
        }
      })

      $('#deleteDataset').on('click', function() {
        send({"action": "deleteDataset", "name": $('#datasetName').val()})
      })

      $('#deleteStatistic').on('click', function() {
        send({"action": "deleteStatistic", "name": $('#statisticName').val()})
      })

      $(".file-input").change(function(){
       var filename = $(this).val().replace(/.*\\/, "")
       $("#filename" + this.id[4]).val(filename)
      })

      $('#typesList').on('click', 'a', function() {
        document.getElementById(document.getElementById('address').innerHTML).innerHTML = this.innerHTML
        $('#chooseType').modal('hide')
      })

      $('#messages').on('click', function() {
        tb = document.getElementById("tbodyMessages")
        if (tb.childNodes.length === 0) {
          send({"action": "getMessages"})
        }
      })

      $('#logs').on('click', function() {
        tb = document.getElementById("tbodyLogs")
        if (tb.childNodes.length === 0) {
          send({"action": "getLogs"})
        }
      })

      $('#new1').on('click', function() {
        clearDatasetInfo()
      })

      $('#new2').on('click', function() {
        clearStatisticInfo()
      })

      $('#datasetsList').on('click', 'a', function() {
        if (this.id !== "new1") {
          $('#file1').val("")
          getInfo("Dataset", this.innerHTML)
        }
      })

      $('#statisticsList').on('click', 'a', function() {
        if (this.id !== "new2") {
          $('#file2').val("")
          getInfo("Statistic", this.innerHTML)
        }
      })

      $('#importFeatures').on('click', function() {
        if ($('#filename1').val() === "") {
          $('#message').text("Choose file")
          $('#modal').modal('show')
        } else {
          try {
            Papa.parse(document.getElementById('file1').files[0], {delimiter:',', dynamicTyping:true, skipEmptyLines:true,
              complete: function(results) {
                for (var i = 0; i < results["data"].length; i++) {
                  if (i === 0) {
                    for (var j = 0; j < results["data"][i].length; j++) {
                      createFeatureRow(results["data"][i][j], "", "", "")
                    }
                  } else {
                    for (var j = 0; j < results["data"][i].length; j++) {
                      updateFeatureRow(results["data"][i][j], j)
                    }
                  }
                }
                for (var j = 0; j < results["data"][0].length; j++) {
                  updateFeatureRow(null, j)
                }
              }
            })
          } catch (err) {
            $('#message').text("Bad source")
            $('#modal').modal('show')
          }
        }
      })

      $('#importTemplates').on('click', function() {
        $('#importTemplatesModal').modal('show')
      })

      $('#importTemplatesFromFile').on('click', function() {
        if ($('#filename3').val() === "") {
          $('#message').text("Choose file")
          $('#modal').modal('show')
        } else {
          try {
            Papa.parse(document.getElementById('file3').files[0], {delimiter:',', dynamicTyping:true, skipEmptyLines:true,
              complete: function(results) {
                for (var i = 0; i < results["data"].length; i++) {
                  if (i !== 0) {
                    var s = ""
                    var delimiters = JSON.parse(results["data"][i][1].replace(/'/g, '"'))
                    for (var j = 0; j < delimiters.length; j++) {
                      s += "\"" + delimiters[j] + "\", "
                    }
                    s = s.slice(0, -2)
                    createTemplateRow("\"" + results["data"][i][0] + "\"", s, "\"" + results["data"][i][2] + "\"")
                  }
                }
              }
            })
          } catch (err) {
            $('#message').text("Bad source")
            $('#modal').modal('show')
          }
        }
      })

      $('#tbodyFeatures').on('click', 'button', function() {
        if (this.innerHTML === "Delete") {
          this.parentNode.parentNode.remove()
        } else if (this.innerHTML === "Add new") {
          if ($('#newFeatureName').val() === "") {
            $('#message').text("Please, enter feature name")
            $('#modal').modal('show')
          } else {
            createFeatureRow($('#newFeatureName').val(), $('#newFeatureSynonyms').val(), $('#typeNew').text(), $('#values').val())
            clearNewFeature()
          }
        } else if (this.innerHTML === "Import") {
          $('#importFeaturesModal').modal('show')
        } else {
          document.getElementById('address').innerHTML = this.id
          $('#chooseType').modal('show')
        }
      })

      $('#tbodyTemplates').on('click', 'button', function() {
        if (this.innerHTML === "Delete") {
          this.parentNode.parentNode.remove()
        } else if (this.innerHTML === "Add new") {
          if ($('#newTemplateQuestion').val() === "") {
            $('#message').text("Please, enter template question")
            $('#modal').modal('show')
          } else if ($('#newTemplateDelimiters').val() === "") {
            $('#message').text("Please, enter template delimiters")
            $('#modal').modal('show')
          } else if ($('#newTemplateAnswer').val() === "") {
            $('#message').text("Please, enter template answer")
            $('#modal').modal('show')
          } else {
            createTemplateRow($('#newTemplateQuestion').val(), $('#newTemplateDelimiters').val(), $('#newTemplateAnswer').val())
            clearNewTemplate()
          }
        }
      })

      window.onerror = function (e) {
        $('#message').text("Bad source")
        $('#modal').modal('show')
      }

      function saveFeatures() {
        var f = []
        var tbody = document.getElementById("tbodyFeatures")
        for (var i = 1; i < tbody.childNodes.length; i++) {
          var values = []
          var vals = tbody.childNodes[i].querySelectorAll("textarea")[1].value.split("\", ")
          for (var j = 0; j < vals.length; j++) {
            if (j + 1 === vals.length) {
              values.push(vals[j].slice(1, -1))
            } else if (vals[j] !== "") {
              values.push(vals[j].slice(1, vals[j].length))
            }
          }
          var synonyms = []
          var syns = tbody.childNodes[i].querySelectorAll("textarea")[0].value.split("\", ")
          for (var j = 0; j < syns.length; j++) {
            if (j + 1 === syns.length) {
              synonyms.push(syns[j].slice(1, -1))
            } else if (syns[j] !== "") {
              synonyms.push(syns[j].slice(1, syns[j].length))
            }
          }
          f.push({"name": tbody.childNodes[i].querySelector("input").value,
                  "synonyms": synonyms,
                  "type": tbody.childNodes[i].querySelector("button").innerHTML,
                  "values": values
          })
        }
        return f
      }

      function saveTemplates() {
        var f = []
        var tbody = document.getElementById("tbodyTemplates")
        for (var i = 1; i < tbody.childNodes.length; i++) {
          var values = []
          var vals = tbody.childNodes[i].querySelector("textarea").value.split("\", ")
          for (var j = 0; j < vals.length; j++) {
            if (j + 1 === vals.length) {
              values.push(vals[j].slice(1, -1))
            } else if (vals[j] !== "") {
              values.push(vals[j].slice(1, vals[j].length))
            }
          }
          var tmp = tbody.childNodes[i].querySelectorAll("input")
          f.push({"question": cleanString(tmp[0].value),
                  "answer": cleanString(tmp[1].value),
                  "delimiters": values
          })
        }
        return f
      }

      function setDatasetInfo(data) {
        $('#datasetName').val(data["name"])
        $('#datasetDescription').val(data["description"])
        $('#file1').val("")
        $('#filename1').val(data["file"])
        var t = document.getElementById("tbodyFeatures")
        for (var i = t.childNodes.length - 1; i > -1; i--) {
          if (t.childNodes[i].id !== "newFeatureRow") {
            t.childNodes[i].remove()
          }
        }
        for (var i = 0; i < data["features"].length; i++) {
          var values = ""
          for (var j = 0; j < data["features"][i]["values"].length; j++) {
            values += "\"" + data["features"][i]["values"][j] + "\", "
          }
          values = values.slice(0, -2)
          var synonyms = ""
          for (var j = 0; j < data["features"][i]["synonyms"].length; j++) {
            synonyms += "\"" + data["features"][i]["synonyms"][j] + "\", "
          }
          synonyms = synonyms.slice(0, -2)
          createFeatureRow(data["features"][i]["name"], synonyms, data["features"][i]["type"], values)
        }
      }

      function setStatisticInfo(data) {
        $('#statisticName').val(data["name"])
        $('#statisticDescription').val(data["description"])
        $('#file2').val("")
        $('#filename2').val(data["file"])
        var t = document.getElementById("tbodyTemplates")
        for (var i = t.childNodes.length - 1; i > -1; i--) {
          if (t.childNodes[i].id !== "newTemplateRow") {
            t.childNodes[i].remove()
          }
        }
        for (var i = 0; i < data["templates"].length; i++) {
          var s = ""
          for (var j = 0; j < data["templates"][i]["delimiters"].length; j++) {
            s += "\"" + data["templates"][i]["delimiters"][j] + "\", "
          }
          s = s.slice(0, -2)
          createTemplateRow("\"" + data["templates"][i]["question"] + "\"", s, "\"" + data["templates"][i]["answer"] + "\"")
        }
      }

      function createFeatureRow(name, synonyms, type, values) {
        var tb = document.getElementById("tbodyFeatures")
        var row = document.createElement("tr")
        row.setAttribute("id", "row" + (tb.childNodes.length - 1))

        var td1 = document.createElement("td")
        var in1 = document.createElement("input")
        in1.setAttribute("class", "form-control my-input-small")
        in1.setAttribute("type", "text")
        in1.setAttribute("value", name)
        td1.appendChild(in1)

        var td2 = document.createElement("td")
        var ta2 = document.createElement("textarea")
        ta2.setAttribute("class", "form-control my-ta-small")
        ta2.innerHTML = synonyms
        td2.appendChild(ta2)

        var td3 = document.createElement("td")
        var b3 = document.createElement("button")
        b3.setAttribute("type", "button")
        b3.setAttribute("class", "btn btn-success my-btn")
        b3.innerHTML = type
        b3.setAttribute("id", "type" + (tb.childNodes.length + 1))
        td3.appendChild(b3)

        var td4 = document.createElement("td")
        var ta4 = document.createElement("textarea")
        ta4.setAttribute("class", "form-control my-ta-small")
        ta4.innerHTML = values
        td4.appendChild(ta4)

        var td5 = document.createElement("td")
        var b5 = document.createElement("button")
        b5.setAttribute("type", "button")
        b5.setAttribute("class", "btn btn-success my-btn")
        b5.innerHTML = "Delete"
        td5.appendChild(b5)

        row.appendChild(td1)
        row.appendChild(td2)
        row.appendChild(td3)
        row.appendChild(td4)
        row.appendChild(td5)
        tb.appendChild(row)
      }

      function createTemplateRow(question, delimiters, answer) {
        var tb = document.getElementById("tbodyTemplates")
        var row = document.createElement("tr")

        var td1 = document.createElement("td")
        var in1 = document.createElement("input")
        in1.setAttribute("class", "form-control my-input-small")
        in1.setAttribute("type", "text")
        in1.setAttribute("value", question)
        td1.appendChild(in1)

        var td2 = document.createElement("td")
        var ta2 = document.createElement("textarea")
        ta2.setAttribute("class", "form-control my-ta-small")
        ta2.innerHTML = delimiters
        td2.appendChild(ta2)

        var td3 = document.createElement("td")
        var in3 = document.createElement("input")
        in3.setAttribute("class", "form-control my-input-small")
        in3.setAttribute("type", "text")
        in3.setAttribute("value", answer)
        td3.appendChild(in3)

        var td4 = document.createElement("td")
        var b4 = document.createElement("button")
        b4.setAttribute("type", "button")
        b4.setAttribute("class", "btn btn-success my-btn")
        b4.innerHTML = "Delete"
        td4.appendChild(b4)

        row.appendChild(td1)
        row.appendChild(td2)
        row.appendChild(td3)
        row.appendChild(td4)
        tb.appendChild(row)
      }

      function updateFeatureRow(value, rowId) {
        var row = document.getElementById("row" + rowId)
        var ta = row.querySelectorAll("textarea")[1]
        var type = row.querySelector("button")
        if (type.innerHTML === "" && value !== null) {
          value = value.toString()
          if (isDatetime(value)) {
            type.innerHTML = "datetime"
          } else if (isCurrency(value)) {
            type.innerHTML = "currency"
          } else if (isPercent(value)) {
            type.innerHTML = "percent"
          } else if (isFloat(value)) {
            type.innerHTML = "float"
          } else if (isInteger(value)) {
            type.innerHTML = "integer"
          } else {
            type.innerHTML = "string"
          }
        }
        if (value === null) {
          /* To not enumerate all possible options, if there are a lot of them and this is a class of objects */
          if (ta.value.length > 3000) {
            ta.value = ""
          } else {
            ta.value = ta.value.slice(0, -2)
          }
          if (type.innerHTML === "") {
            type.innerHTML = "string"
          }
        } else if (ta.value.indexOf(value) === -1) {
          if (ta.value.length < 1000) {
            ta.value += "\"" + value + "\", "
          }
        }
      }

      function addMessages(mes) {
        tb = document.getElementById("tbodyMessages")
        for (var i = 0; i < mes.length; i++) {
          var row = document.createElement("tr")
          addIdDiv(row, mes[i]["id"])
          addDiv(row, "height: 75px; overflow-y: auto; max-width: 250px;", mes[i]["datetime"])
          addDiv(row, "height: 75px; overflow-y: auto; max-width: 450px;", mes[i]["question"])
          addDiv(row, "height: 75px; overflow-y: auto; max-width: 450px;", mes[i]["answer"])
          addDiv(row, "height: 75px; overflow-y: auto; max-width: 650px;", mes[i]["message"])
          tb.appendChild(row)
        }
      }

      function addLogs(logs) {
        tb = document.getElementById("tbodyLogs")
        for (var i = 0; i < logs.length; i++) {
          console.log(logs[i]["json"])
          var log = logs[i]["json"]
          var row = document.createElement("tr")
          addIdDiv(row, logs[i]["id"])
          addDiv(row, "height: 75px; overflow-y: auto; max-width: 250px;", log["datetime"])
          addDiv(row, "height: 75px; overflow-y: auto; max-width: 300px;", log["question"])
          addDiv(row, "height: 75px; overflow-y: auto; max-width: 200px;", log["dataset"])
          addDiv(row, "height: 75px; overflow-y: auto; max-width: 200px;", log["answerType"])
          addDiv(row, "height: 75px; overflow-y: auto; max-width: 350px;", log["answer"])
          addDiv(row, "height: 75px; overflow-y: auto; max-width: 500px;", getLogInfo(log))
          tb.appendChild(row)
        }
      }

      function getLogInfo(log) {
        var s = ""

        if (log["template"] === null) {
          s += "Statistic: null, "
        } else {
          s += "Statistic: \"" + log["statistic"] + "\", "
        }

        if (log["template"] === null) {
          s += "Template: null, "
        } else {
          s += "Template: \"{\"question\": \"" + log["template"]["question"] + "\", "
          s += "\"answer\": \"" + log["template"]["answer"] + "\"} , "
        }

        if (log["template"] === null) {
          s += "Delimiter: null, "
        } else {
          s += "Delimiter: \"" + log["delimiter"] + "\", "
        }

        if (log["args1"] === null || log["args1"].length === 0) {
          s += "Args1: null, "
        } else {
          s += "Args1: ["
          for (var i = 0; i < log["args1"].length; i++) {
            s += "{\"feature\": \"" +  log["args1"][i]["feature"] + "\", "
            s += "\"interval\": \"" + log["args1"][i]["interval"] + "\", "
            s += "\"value\": \"" + log["args1"][i]["value"] + "\"}, "
          }
          s = s.slice(0, -2) + "], "
        }

        if (log["connectors1"] === null || log["connectors1"].length === 1) {
          s += "Connectors1: null, "
        } else {
          s += "Connectors1: ["
          for (var i = 0; i < log["connectors1"].length; i++) {
            s += "\"" + log["connectors1"][i] + "\", "
          }
          s = s.slice(0, -2) + "], "
        }

        if (log["args2"] === null || log["args2"].length === 0) {
          s += "Args2: null, "
        } else {
          s += "Args2: ["
          for (var i = 0; i < log["args2"].length; i++) {
            s += "{\"feature\": \"" +  log["args2"][i]["feature"] + "\", "
            s += "\"interval\": \"" + log["args2"][i]["interval"] + "\", "
            s += "\"value\": \"" + log["args2"][i]["value"] + "\"}, "
          }
          s = s.slice(0, -2) + "], "
        }

        if (log["connectors2"] === null || log["connectors2"].length === 1) {
          s += "Connectors2: null"
        } else {
          s += "Connectors2: ["
          for (var i = 0; i < log["connectors2"].length; i++) {
            s += "\"" + log["connectors2"][i] + "\", "
          }
          s = s.slice(0, -2) + "]"
        }
        return s
      }

      function clearDatasetInfo() {
        $('#datasetName').val("")
        $('#datasetDescription').val("")
        $('#file1').val("")
        $('#filename1').val("")
        clearTableBody("tbodyFeatures", "newFeatureRow")
        clearNewFeature()
      }

      function clearStatisticInfo() {
        $('#statisticName').val("")
        $('#statisticDescription').val("")
        $('#file2').val("")
        $('#filename2').val("")
        clearTableBody("tbodyTemplates", "newTemplateRow")
        clearNewTemplate()
      }

      function clearNewFeature() {
        $('#newFeatureName').val("")
        $('#newFeatureSynonyms').val("")
        $('#typeNew').text(types[0])
        $('#values').val("")
      }

      function clearNewTemplate() {
        $('#newTemplateQuestion').val("")
        $('#newTemplateDelimiters').val("")
        $('#newTemplateAnswer').val("")
      }
    </script>
  </body>
</html>