<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BotStatist</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
  <body>
    <div class="topnav">
      <a href="/" class="topnav-home">Home</a>
      <a href="/info">Info</a>
      <a href="/development">Development</a>
    </div>

    <div class="container1 my-font">
      <div class="my-text">(ask me about users mean in some month (April, May, ...)</div>
      <div class="my-text">Send your question:</div>
      <input type="text" id="question" class="form-control my-input">
      <button type="button" id="save" class="btn btn-success my-btn">Send</button>
      <div class="my-text">Answer for you:</div>
      <div id="answer" class="my-text"></div>
    </div>

    <script>
      var xhr = new XMLHttpRequest()

      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
          var json = JSON.parse(xhr.responseText)
          $('#answer').text(json['answer'])
        }
      }

      $('#save').on('click', function() {
        var name = $('#question').val()
        var data = JSON.stringify({"question": name})
        xhr.open("POST", "/", true)
        xhr.setRequestHeader("Content-Type", "application/json");
        console.log(xhr.status)
        xhr.send(data)
      })
    </script>
  </body>
</html>